 .header {
  background-image: url('imagenes/header.jpg');
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100%;
}

*{
  margin: 0;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #fefae0;
  padding: 10px;
  color: #000814;
}
.menu a {
  text-decoration: none;
  color: inherit;
  border-radius: 15px;
  padding: 10px;
  font-size: 25px;
}

.menu a:hover{
  background-color: #caf0f8;
}

body {
  background-color: #ede0d4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.prodH1{
  text-align: center;
  
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;   
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


.producto img {
    width: 100%;  
    height: auto; 
    border-radius: 5px;
    object-fit: cover; 
    margin-bottom: 10px;
}

.inicio{
  padding: 5px 0;
}

.inicio2 {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  gap: 50px;

}
.inicio_texto {
  flex: 1;
  font-size: 20px;
}
.inicio_texto h2{
color: #003459;
}
.imagentxt{
  flex: 1;
  
}
.imagentx img{
  width: 100%;
  height: 50%;
  border-radius: 10px;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;   
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.mante img {
    width: 100%;  
    height: auto; 
    border-radius: 5px;
    object-fit: cover; 
    margin-bottom: 10px;
}

